<div class="container">
  <div class="row">
    <div class="col-md-6"> © 2015 Banca di Credito Cooperativo di Roma </div>
    <div class="col-md-6 text-right"> powered by
      <a href="http://abstract.it" target="_blank" class="abstract-logo"> <span class="abstract-logotype">
                &gt;_</span> abstract
      </a>
    </div>
  </div>
</div>
