<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle collapsed">
        <span class="sr-only">Mostra/nascondi navigazione</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">GCC</a>
      <a href="/mailbox/3/" class="navbar-brand">08327.infobccroma@actaliscertymail.it</a>
    </div>
    <form role="search" class="navbar-form navbar-left" action="/search/messages/3/" method="get">
      <div class="input-group">
        <input type="text" name="q" placeholder="Cerca nella mailbox" class="form-control"> <span class="input-group-btn">
          <button type="submit" class="btn btn-default">
            <i class="fa fa-search"></i>
          </button>
        </span> </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"> <i class="fa fa-cubes"></i> Canali <span class="caret"></span> </a>
        <ul role="menu" class="dropdown-menu icon-menu">
          <li role="presentation" class="dropdown-header"> PEC </li>
          <li>
            <a href="/mailbox/2/"> <i class="fa fa-inbox"></i> 08327.nfaltolazio2@actaliscertymail.it </a>
          </li>
          <li>
            <a href="/mailbox/3/"> <i class="fa fa-inbox"></i> 08327.infobccroma@actaliscertymail.it </a>
          </li>
          <li>
            <a href="/mailbox/1/"> <i class="fa fa-inbox"></i> abstract-test@pec.it </a>
          </li>
          <li role="presentation" class="dropdown-header"> Fax </li>
          <li class="dev-todo">
            <a href="#"> <i class="fa fa-fax"></i> +39 3467265832 </a>
          </li>
          <li role="presentation" class="dropdown-header"> SMS </li>
          <li class="dev-todo">
            <a href="#"> <i class="fa fa-phone"></i> +39 3467265832 </a>
          </li>
          <li role="presentation" class="dropdown-header"> Servizi postali </li>
          <li class="dev-todo">
            <a href="#"> <i class="fa fa-envelope"></i> Foo bar </a>
          </li>
        </ul>
      </li>
      <li id="notification-menu" data-bind="css: { dropdown: unread_notifications().length > 0 }" class="dropdown">
        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle" data-bind="visible: unread_notifications().length > 0"> <i class="fa fa-info"></i> Notifications <span class="badge" data-bind="text: unread_notifications().length">1</span> <span class="caret"></span> </a>
        <ul role="menu" class="dropdown-menu icon-menu" data-bind="foreach: unread_notifications">
          <li><a href="/notifications/" data-bind="text: title">GCC: Your mandate has been accepted</a></li>
        </ul>
        <a href="/notifications/" role="button" aria-expanded="false" data-bind="visible: unread_notifications().length === 0" style="display: none;"> <i class="fa fa-info"></i> Notifications <span class="badge" data-bind="text: unread_notifications().length">1</span> </a>
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"> <i class="fa fa-user"></i> admin <span class="caret"></span> </a>
        <ul role="menu" class="dropdown-menu icon-menu">
          <li>
            <a href="/user/profile"> <i class="fa fa-cog"></i> Impostazioni account </a>
          </li>
          <li>
            <a href="/mandates/received/"> <i class="fa fa-send-o"></i> Received mandates </a>
          </li>
          <li>
            <a href="/requests/"> <i class="fa fa-user-plus"></i> Contact promotion requests </a>
          </li>
          <li>
            <a href="/accounts/logout/"> <i class="fa fa-sign-out"></i> Disconnetti </a>
          </li>
          <li role="presentation" class="dropdown-header"> Gestisci </li>
          <li>
            <a href="/configurations/"> <i class="fa fa-cog"></i> Configurations </a>
          </li>
          <li>
            <a href="/user/"> <i class="fa fa-users"></i> Utenti </a>
          </li>
          <li>
            <a href="/mandates/given/"> <i class="fa fa-certificate"></i> Mandates </a>
          </li>
          <li>
            <a href="/area/"> <i class="fa fa-bank"></i> Aree </a>
          </li>
          <li>
            <a href="/contact/"> <i class="fa fa-book"></i> Rubrica </a>
          </li>
          <li>
            <a href="/channels/"> <i class="fa fa-cubes"></i> Canali </a>
          </li>
          <li>
            <a href="/sitrad/"> <i class="fa fa-exchange"></i> Sitrad </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
