<div class="btn-toolbar" role="toolbar" aria-label="Folder toolbar">
  <!-- Seleziona -->
  <div class="btn-group" role="group" aria-label="Selection">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <i class="fa fa-check-square"></i> <span class="sr-only">Seleziona</span> <span class="caret"></span> </button>
      <ul class="dropdown-menu" role="menu">
        <li> <a href="#" onclick="select('tutti')">
              Tutti
            </a> </li>
        <li> <a href="#" onclick="select('non-letti')">
              Non letti
            </a> </li>
        <li> <a href="#" onclick="select('nessuno')">
              Nessuno
            </a> </li>
      </ul>
    </div>
  </div>
  <!-- Componi -->
  <div class="btn-group" role="group" aria-label="Componi">
    <div class="btn-group">
      <button type="button" class="btn btn-primary" data-bind="click: $data.compose_message"> Componi </button>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Mostra/nascondi</span> </button>
      <ul class="dropdown-menu" role="menu">
        <li> <a href="javascript:void(0)" data-bind="click: $data.compose_bulk">
                Nuovo bulk message
              </a> </li>
      </ul>
    </div>
  </div>
  <!-- Button Group - Cancella, Sposta, Etichetta-->
  <div class="btn-group" role="group" aria-label="Actions">
    <button type="button" class="btn btn-default" data-bind="enable: $parent.selected_threads().length > 0,
                           click: $data.action,
                           text: $data.label" disabled="">Cancella</button>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-bind="enable: $parent.selected_threads().length > 0" disabled="">
      Modifica
    </div>
  </div>
</div>
